body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 40px;
  color: #474747;
}

.title-products {
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 35px;
  color: #8b8b8b;
}

.product-card {
  border-radius: 4px;
  margin-bottom: 3%;
  overflow: hidden;
  background: white;
  margin: 10px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}


.product-card h3 {
  padding: 25px;
  font-size: 30px;
  color: #474747;
}

.product-price {
  padding: 20px;
  justify-content: flex-end;
  color: #474747;
  font-weight: bold;
  display: flex;
  font-size: 25px;
}

.product-description {
  padding: 0px 20px 20px 20px;
  color: #1f1f1f;
  font-size: 22px;
  opacity: .7;
}

ul {
  display: flex;
  list-style-type:none;
}

ul li {
  display: flex;
  flex-flow: row wrap;
}
